 .fa {
    padding: 3%;
    font-size: 30px;
    width: 10%;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

/* Twitter */
.fa-twitter {
    color: white;
}

/* GitHub */
.fa-github {
    color: white;
}

/*LinkedIn*/
.fa-linkedin {
    color: white;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
}

.centered-content {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    margin: auto;
}

body {
    background: url("../assets/background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}